# Virtual environment
.venv/
venv/

# Python cache
__pycache__/git
*.pyc
*.pyo
*.pyd

# Mac OS files
.DS_Store

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp

#tmp lock file
.pull_data.lock
