# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac OS files
.DS_Store

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp

#Queries for Canvas submission
SQL_Queries_Module3.pdf

#tmp lock file
.pull_data.lock
